In [2]:
pip install openai -q

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.0.6_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [78]:
from openai import OpenAI
client = OpenAI(api_key="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")

In [79]:
train_create = client.files.create(
  file=open("mbpp_completion_3classes_train455.jsonl", "rb"),
  purpose="fine-tune"
)

# val_create = client.files.create(
#   file=open("mbpp_completion_3classes_test64.jsonl", "rb"),
#   purpose="fine-tune"
# )

In [80]:
training_file = train_create.id
# val_file = val_create.id
training_file

'file-2o6z8e3Cw4HlsZWAOc3saY0J'

In [77]:
ft_create = client.fine_tuning.jobs.create(
  training_file='file-2o6z8e3Cw4HlsZWAOc3saY0J', 
  model="davinci-002"
  # validation_file=val_file,
)

In [46]:
ft_create

FineTuningJob(id='ftjob-L2J2GtxDVLIq40Mm1FphBfvN', created_at=1700961994, error=None, fine_tuned_model=None, finished_at=None, hyperparameters=Hyperparameters(n_epochs='auto', batch_size='auto', learning_rate_multiplier='auto'), model='davinci-002', object='fine_tuning.job', organization_id='org-C3Uef6f81pjJUiIQMtu8svVl', result_files=[], status='validating_files', trained_tokens=None, training_file='file-h9hN9VJY7C8usPIti3DQtBAk', validation_file='file-ZSXAbFCLWB1H1C6SPZFUkYAZ')

In [47]:
ft_job = ft_create.id
ft_job

'ftjob-L2J2GtxDVLIq40Mm1FphBfvN'

In [48]:
client.fine_tuning.jobs.retrieve(ft_job)

FineTuningJob(id='ftjob-L2J2GtxDVLIq40Mm1FphBfvN', created_at=1700961994, error=None, fine_tuned_model=None, finished_at=None, hyperparameters=Hyperparameters(n_epochs='auto', batch_size='auto', learning_rate_multiplier='auto'), model='davinci-002', object='fine_tuning.job', organization_id='org-C3Uef6f81pjJUiIQMtu8svVl', result_files=[], status='validating_files', trained_tokens=None, training_file='file-h9hN9VJY7C8usPIti3DQtBAk', validation_file='file-ZSXAbFCLWB1H1C6SPZFUkYAZ')

In [50]:
ft_model = client.fine_tuning.jobs.retrieve(ft_job).fine_tuned_model
ft_model

'ft:davinci-002:personal::8OyQYcLO'

In [51]:
response = client.completions.create(
  model=ft_model,
  prompt= "On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task 'Write a function to find whether all the given tuples have equal length or not.' is: ",
  max_tokens=1
)
print(response.choices[0].text)

2

In [52]:
og_model = "davinci-002"

In [15]:
og_model_dav3 = "text-davinci-003"

In [17]:
ft_model2 = "ft:davinci-002:personal::8OhPdNGc"

In [49]:
ft_model_full_4classes = "ft:davinci-002:personal::8Otpm6EB"

In [11]:
ft_model3 = client.fine_tuning.jobs.retrieve(ft_job).fine_tuned_model

In [3]:
ft_model_full_3classes = "ft:davinci-002:personal::8Ov33dCP"

In [60]:
import json

input_file_path = "./mbpp_completion_3classes_train910.jsonl"

with open(input_file_path, 'r') as file:
    # Extract the 'prompt' field from each JSON object in the file and collect them into a list
    prompts = [json.loads(line)['prompt'] for line in file]

with open(input_file_path, 'r') as file:
    complexity = [json.loads(line)['completion'] for line in file]

prompts[-5:]

['On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to print the first n lucky numbers." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to find the fixed point in the given array." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to find the previous palindrome of a specified number." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to validate a gregorian date." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to compute maximum product of three numbers of a given array of integers using heap queue algorithm." is: ']

In [68]:
og_model_res = []
ft_model_res = []
gt = []
# ft_model_res = []
# og_model_dav3_res = []

for i, prompt in enumerate(prompts):
    og_response = client.completions.create(
                  model=og_model,
                  prompt= prompt,
                  max_tokens=1)
    try:
        og_model_res.append(int(og_response.choices[0].text))
    except:
        continue
    ft_response = client.completions.create(
                  model=ft_model,
                  prompt= prompt,
                  max_tokens=1)
    ft_model_res.append(int(ft_response.choices[0].text))
    gt.append(complexity[i])
    
    # ft_response2 = client.completions.create(
    #               model=ft_model2,
    #               prompt= prompt,
    #               max_tokens=1)
    # ft_model_res2.append(int(ft_response2.choices[0].text))
    # ft_response3 = client.completions.create(
    #               model=ft_model3,
    #               prompt= prompt,
    #               max_tokens=1)
    # ft_model_res3.append(int(ft_response3.choices[0].text))
    # og_dav3_response = client.completions.create(
    #               model=og_model_dav3,
    #               prompt= prompt,
    #               max_tokens=1)
    # og_model_dav3_res.append(int(og_dav3_response.choices[0].text))

In [70]:
len(og_model_res)

903

In [71]:
import pandas as pd


# Creating correctness columns
og_correctness = [l1 == int(gt) for l1, gt in zip(og_model_res, gt)]
ft_correctness = [l2 == int(gt) for l2, gt in zip(ft_model_res, gt)]
# ft_correctness2 = [l3 == int(gt) for l3, gt in zip(ft_model_res2, complexity)]
# ft_correctness3 = [l4 == int(gt) for l4, gt in zip(ft_model_res3, complexity)]

# Creating the DataFrame
df = pd.DataFrame({
    # 'prompt': prompts,
    'og': og_model_res,
    'og_correctness': og_correctness,
    'ft': ft_model_res,
    'ft_correctness': ft_correctness,
    # 'ft2': ft_model_res2,
    # 'ft_correctness2': ft_correctness2,
    # 'ft3': ft_model_res3,
    # 'ft_correctness3': ft_correctness3,
    'ground_truth': gt,
})

df

     og  og_correctness  ft  ft_correctness ground_truth
0     1           False   2            True            2
1     1           False   2           False            0
2     1           False   0            True            0
3     2           False   2           False            1
4     2           False   2           False            1
..   ..             ...  ..             ...          ...
898   1           False   2            True            2
899   1           False   2           False            0
900   1           False   2            True            2
901   1           False   2            True            2
902   1           False   2           False            0

[903 rows x 5 columns]

In [73]:
# ft_true_count2 = df['ft_correctness2'].sum()
og_true_count = df['og_correctness'].sum() 
ft_true_count = df['ft_correctness'].sum()
# ft_true_count3 = df['ft_correctness3'].sum()
print(f"Fine-tuned model results: {ft_true_count} / {len(df)}\nOriginal model results: {og_true_count} / {len(df)}")

Fine-tuned model results: 654 / 903
Original model results: 271 / 903

In [12]:
df.to_json("./test_results_3classes.jsonl", orient='records', lines=True)

In [13]:
# ft_model_dav2_res = ft_model_res

In [14]:
# og_model_dav2_res = og_model_res

In [39]:
import json

input_file_path = "./mbpp_completion_3classes_test.jsonl"

with open(input_file_path, 'r') as file:
    # Extract the 'prompt' field from each JSON object in the file and collect them into a list
    prompts = [json.loads(line)['prompt'] for line in file]

with open(input_file_path, 'r') as file:
    complexity = [json.loads(line)['completion'] for line in file]

prompts[-5:]

['On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to find the maximum number of segments of lengths a, b and c that can be formed from n." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to concatenate the given two tuples to a nested tuple." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a python function to left rotate the string." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "Write a function to find the minimum total path sum in the given triangle." is: ',
 'On a scale of 0 to 2 based solely on the complexity of creating the correct code for the task, where 0 represents a simpler task, 1 represents a moderately challenging task, and 2 represents a highly complex problem, the complexity of the task "None" is: ']

In [40]:
import pandas as pd


# Creating correctness columns
og_correctness = [l1 == int(gt) for l1, gt in zip(og_model_dav2_res, complexity)]
ft_correctness = [l2 == int(gt) for l2, gt in zip(ft_model_dav2_res, complexity)]
# ft_correctness2 = [l3 == int(gt) for l3, gt in zip(ft_model_res2, complexity)]
# ft_correctness3 = [l4 == int(gt) for l4, gt in zip(ft_model_res3, complexity)]

# Creating the DataFrame
df = pd.DataFrame({
    # 'prompt': prompts,
    'og': og_model_res,
    'og_correctness': og_correctness,
    'ft': ft_model_res,
    'ft_correctness': ft_correctness,
    # 'ft2': ft_model_res2,
    # 'ft_correctness2': ft_correctness2,
    # 'ft3': ft_model_res3,
    # 'ft_correctness3': ft_correctness3,
    'ground_truth': complexity,
})

df

     og  og_correctness  ft  ft_correctness ground_truth
0     2           False   1           False            0
1     2           False   0           False            1
2     1           False   0            True            0
3     1            True   2           False            1
4     1           False   2           False            0
..   ..             ...  ..             ...          ...
169   1           False   2            True            2
170   2           False   2           False            0
171   2           False   1           False            0
172   0           False   1            True            1
173   1            True   0           False            1

[174 rows x 5 columns]

In [41]:
# ft_true_count2 = df['ft_correctness2'].sum()
og_true_count = df['og_correctness'].sum() 
ft_true_count = df['ft_correctness'].sum()
# ft_true_count3 = df['ft_correctness3'].sum()
ft_true_count, og_true_count

(91, 57)